<div class="soinsindex" data-no-turbolink>


<h1>Salut Papa</h1>

<p>Ici tu peux modifier les pages soins du site</p>

<%= link_to 'Creer une nouvelle page soin', new_soin_path, :class => 'btn btn-large btn-warning' %>

<hr/>


<table>
  <tr>
    <th></th>

    <th></th>

    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @soins.each do |soin| %>
  <tr>
    <td><%= soin.title %></td>

    <td> <hr/> </td>

    <td><%= link_to 'Editer Photos, Metas et Page Category', "/soins/#{soin.id}/edit", :class => "btn btn-info", :style => "margin-left: 10px;" %></td>
    <td><%= link_to "Editer le texte de l'article", "/editor/soins/#{soin.id}", :class => "btn btn-success", :style => "margin-left: 10px;" %></td>
    <td><%= link_to 'Destroy', soin, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger", :style => "margin-left: 10px;" %></td>
  </tr>
<% end %>
</table>

<hr/>






</div>